menu "qmsk-esp"
  choice STATUS_LEDS_GPIO_TYPE
    prompt "LED/button GPIO type"
    default STATUS_LEDS_GPIO_TYPE_HOST

    config STATUS_LEDS_GPIO_TYPE_HOST
      bool "Host/Internal GPIO"

    config STATUS_LEDS_GPIO_TYPE_I2C_PCA9534
      depends on I2C_MASTER_ENABLED
      bool "External I2C PCA9534 GPIO expander"

    config STATUS_LEDS_GPIO_TYPE_I2C_PCA9554
      depends on I2C_MASTER_ENABLED
      bool "External I2C PCA9554 GPIO expander"

  endchoice

  config STATUS_LEDS_GPIO_I2C_ADDR_PCA9534
    depends on STATUS_LEDS_GPIO_TYPE_I2C_PCA9534
    int "Configurable I2C address bits (0-16)"
    range 0 15
    default 0

  config STATUS_LEDS_GPIO_I2C_ADDR_PCA9554
    depends on STATUS_LEDS_GPIO_TYPE_I2C_PCA9554
    int "Configurable I2C address bits (0-16)"
    range 0 15
    default 0


  choice STATUS_LEDS_USER
    prompt "USER LED/button mode"
    default STATUS_LEDS_USER_MODE

    config STATUS_LEDS_USER_DISABLED
      bool "Disabled"

    config STATUS_LEDS_USER_MODE
      bool "User LED"

    config STATUS_LEDS_USER_MODE_TEST
      bool "User LED, Test button"

  endchoice

  config STATUS_LEDS_USER_ENABLED
      bool
      default n if STATUS_LEDS_USER_DISABLED
      default y if STATUS_LEDS_USER_MODE
      default y if STATUS_LEDS_USER_MODE_TEST

  config STATUS_LEDS_USER_GPIO_NUM
      depends on STATUS_LEDS_USER_ENABLED
      int "USER LED GPIO pin"

      default 2   if IDF_TARGET="esp32"
      default 16  if IDF_TARGET="esp8266"

  config STATUS_LEDS_USER_GPIO_INVERTED
      depends on STATUS_LEDS_USER_ENABLED
      bool "USER LED GPIO active-low"

      default y   if IDF_TARGET="esp32"
      default y   if IDF_TARGET="esp8266"


  choice STATUS_LEDS_FLASH
    prompt "FLASH LED/button mode"
    default STATUS_LEDS_FLASH_MODE_ACTIVITY_CONFIG

    config STATUS_LEDS_FLASH_DISABLED
      bool "Disabled"

    config STATUS_LEDS_FLASH_MODE_ACTIVITY
      bool "Activity LED"

    config STATUS_LEDS_FLASH_MODE_ACTIVITY_CONFIG
      bool "Activity LED, Config button"

    config STATUS_LEDS_FLASH_MODE_ALERT_CONFIG
      bool "Alert LED, Config button"

  endchoice

  config STATUS_LEDS_FLASH_ENABLED
      bool
      default n if STATUS_LEDS_FLASH_DISABLED
      default y if STATUS_LEDS_FLASH_MODE_ACTIVITY
      default y if STATUS_LEDS_FLASH_MODE_ACTIVITY_CONFIG
      default y if STATUS_LEDS_FLASH_MODE_ALERT_CONFIG

  config STATUS_LEDS_FLASH_GPIO_NUM
      depends on STATUS_LEDS_FLASH_ENABLED
      int "FLASH LED GPIO pin"
      default 0   if IDF_TARGET="esp8266"
      default 4   if IDF_TARGET="esp32"

  config STATUS_LEDS_FLASH_GPIO_INVERTED
      depends on STATUS_LEDS_FLASH_ENABLED
      bool "FLASH LED GPIO active-low"
      default y   if IDF_TARGET="esp8266"
      default y   if IDF_TARGET="esp32"


  choice STATUS_LEDS_ALERT
    prompt "ALERT LED/button mode"
    default STATUS_LEDS_ALERT_MODE_TEST

    config STATUS_LEDS_ALERT_DISABLED
      bool "Disabled"

    config STATUS_LEDS_ALERT_MODE
      bool "Alert LED"

    config STATUS_LEDS_ALERT_MODE_TEST
      bool "Alert LED, Test button"

  endchoice

  config STATUS_LEDS_ALERT_ENABLED
      bool

      default n if STATUS_LEDS_ALERT_DISABLED
      default y if STATUS_LEDS_ALERT_MODE
      default y if STATUS_LEDS_ALERT_MODE_TEST

  config STATUS_LEDS_ALERT_GPIO_NUM
      depends on STATUS_LEDS_ALERT_ENABLED
      int "ALERT LED GPIO pin"

      default 15  if IDF_TARGET="esp8266" && (ESP_CONSOLE_UART_DEFAULT || ESP_CONSOLE_UART_CUSTOM_NUM_0)
      default 15  if IDF_TARGET="esp32"

  config STATUS_LEDS_ALERT_GPIO_INVERTED
      depends on STATUS_LEDS_ALERT_ENABLED
      bool "ALERT LED GPIO active-low"

      default n   if IDF_TARGET="esp8266"
      default y   if IDF_TARGET="esp32"


  choice STATUS_LEDS_CONFIG
    prompt "CONFIG button mode"
    default STATUS_LEDS_CONFIG_DISABLED

    config STATUS_LEDS_CONFIG_DISABLED
      bool "Disabled"

    config STATUS_LEDS_CONFIG_MODE
      bool "CONFIG button"

  endchoice

  config STATUS_LEDS_CONFIG_ENABLED
      bool

      default n if STATUS_LEDS_CONFIG_DISABLED
      default y if STATUS_LEDS_CONFIG_MODE

  config STATUS_LEDS_CONFIG_GPIO_NUM
      depends on STATUS_LEDS_CONFIG_ENABLED
      int "CONFIG Button GPIO pin"

  config STATUS_LEDS_CONFIG_GPIO_INVERTED
      depends on STATUS_LEDS_CONFIG_ENABLED
      bool "CONFIG Button GPIO active-low"


  choice STATUS_LEDS_TEST
    prompt "TEST button mode"
    default STATUS_LEDS_TEST_DISABLED

    config STATUS_LEDS_TEST_DISABLED
      bool "Disabled"

    config STATUS_LEDS_TEST_MODE
      bool "TEST button"

  endchoice

  config STATUS_LEDS_TEST_ENABLED
      bool

      default n if STATUS_LEDS_TEST_DISABLED
      default y if STATUS_LEDS_TEST_MODE

  config STATUS_LEDS_TEST_GPIO_NUM
      depends on STATUS_LEDS_TEST_ENABLED
      int "TEST Button GPIO pin"

  config STATUS_LEDS_TEST_GPIO_INVERTED
      depends on STATUS_LEDS_TEST_ENABLED
      bool "TEST Button GPIO active-low"

endmenu

menu "qmsk-esp-eth"
  choice ETH_BOARD
    prompt "Ethernet board type"
    default ETH_BOARD_NONE

    config ETH_BOARD_NONE
      bool "None"

    config ETH_BOARD_WT32_ETH01
      bool "WT32-ETH01"

  endchoice

  config ETH_ENABLED
      bool

      default n if ETH_BOARD_NONE
      default y if ETH_BOARD_WT32_ETH01

  config ETH_MAC_MDC_GPIO_NUM
      int

      default 23  if ETH_BOARD_WT32_ETH01
      default 23

  config ETH_MAC_MDIO_GPIO_NUM
      int

      default 18  if ETH_BOARD_WT32_ETH01
      default 18

  config ETH_PHY_LAN87XX
      bool

      default y if ETH_BOARD_WT32_ETH01
      default n

  config ETH_PHY_ADDR
      int

      default  1  if ETH_BOARD_WT32_ETH01
      default -1

  config ETH_PHY_RESET_GPIO_NUM
      int

      default  16 if ETH_BOARD_WT32_ETH01
      default -1
endmenu

menu "qmsk-esp-i2c"
  config I2C_MASTER_ENABLED
    prompt "Use I2C bus for IO peripherals"
    bool

  config I2C_MASTER_SDA_IO_NUM
    depends on I2C_MASTER_ENABLED
    int
    prompt "IO pin for I2C SDA"

    default 15 if IDF_TARGET="esp32"

  config I2C_MASTER_SCL_IO_NUM
    depends on I2C_MASTER_ENABLED
    int
    prompt "IO pin for I2C SCL"

    default 2 if IDF_TARGET="esp32"

  config I2C_MASTER_INTERNAL_PULLUP_ENABLED
    depends on I2C_MASTER_ENABLED
    bool
    prompt "Enable internal pull-up"

    default false

  config I2C_MASTER_CLK_SPEED
    depends on I2C_MASTER_ENABLED
    int
    prompt "Clock frequency"

    default 400000
endmenu
