menu "qmsk-esp"
  choice STATUS_LEDS_GPIO_TYPE
    prompt "LED/button GPIO type"
    default STATUS_LEDS_GPIO_TYPE_HOST

    config STATUS_LEDS_GPIO_TYPE_HOST
      bool "Host/Internal GPIO"

    config STATUS_LEDS_GPIO_TYPE_I2C_GPIO_0
      depends on I2C_GPIO_ENABLED
      bool "External I2C-GPIO0 expander"

  endchoice


  choice STATUS_LEDS_USER
    prompt "USER LED/button mode"
    default STATUS_LEDS_USER_MODE

    config STATUS_LEDS_USER_DISABLED
      bool "Disabled"

    config STATUS_LEDS_USER_MODE
      bool "User LED"

    config STATUS_LEDS_USER_MODE_TEST
      bool "User LED, Test button"

  endchoice

  config STATUS_LEDS_USER_ENABLED
      bool
      default n if STATUS_LEDS_USER_DISABLED
      default y if STATUS_LEDS_USER_MODE
      default y if STATUS_LEDS_USER_MODE_TEST

  config STATUS_LEDS_USER_GPIO_NUM
      depends on STATUS_LEDS_USER_ENABLED
      int "USER LED GPIO pin"

      default 2   if IDF_TARGET="esp32"
      default 16  if IDF_TARGET="esp8266"

  config STATUS_LEDS_USER_GPIO_INVERTED
      depends on STATUS_LEDS_USER_ENABLED
      bool "USER LED GPIO active-low"

      default y   if IDF_TARGET="esp32"
      default y   if IDF_TARGET="esp8266"


  choice STATUS_LEDS_FLASH
    prompt "FLASH LED/button mode"
    default STATUS_LEDS_FLASH_MODE_ACTIVITY_CONFIG

    config STATUS_LEDS_FLASH_DISABLED
      bool "Disabled"

    config STATUS_LEDS_FLASH_MODE_ACTIVITY
      bool "Activity LED"

    config STATUS_LEDS_FLASH_MODE_ACTIVITY_CONFIG
      bool "Activity LED, Config button"

    config STATUS_LEDS_FLASH_MODE_ALERT_CONFIG
      bool "Alert LED, Config button"

  endchoice

  config STATUS_LEDS_FLASH_ENABLED
      bool
      default n if STATUS_LEDS_FLASH_DISABLED
      default y if STATUS_LEDS_FLASH_MODE_ACTIVITY
      default y if STATUS_LEDS_FLASH_MODE_ACTIVITY_CONFIG
      default y if STATUS_LEDS_FLASH_MODE_ALERT_CONFIG

  config STATUS_LEDS_FLASH_GPIO_NUM
      depends on STATUS_LEDS_FLASH_ENABLED
      int "FLASH LED GPIO pin"
      default 0   if IDF_TARGET="esp8266"
      default 4   if IDF_TARGET="esp32"

  config STATUS_LEDS_FLASH_GPIO_INVERTED
      depends on STATUS_LEDS_FLASH_ENABLED
      bool "FLASH LED GPIO active-low"
      default y   if IDF_TARGET="esp8266"
      default y   if IDF_TARGET="esp32"


  choice STATUS_LEDS_ALERT
    prompt "ALERT LED/button mode"
    default STATUS_LEDS_ALERT_MODE_TEST

    config STATUS_LEDS_ALERT_DISABLED
      bool "Disabled"

    config STATUS_LEDS_ALERT_MODE
      bool "Alert LED"

    config STATUS_LEDS_ALERT_MODE_TEST
      bool "Alert LED, Test button"

  endchoice

  config STATUS_LEDS_ALERT_ENABLED
      bool

      default n if STATUS_LEDS_ALERT_DISABLED
      default y if STATUS_LEDS_ALERT_MODE
      default y if STATUS_LEDS_ALERT_MODE_TEST

  config STATUS_LEDS_ALERT_GPIO_NUM
      depends on STATUS_LEDS_ALERT_ENABLED
      int "ALERT LED GPIO pin"

      default 15  if IDF_TARGET="esp8266" && (ESP_CONSOLE_UART_DEFAULT || ESP_CONSOLE_UART_CUSTOM_NUM_0)
      default 15  if IDF_TARGET="esp32"

  config STATUS_LEDS_ALERT_GPIO_INVERTED
      depends on STATUS_LEDS_ALERT_ENABLED
      bool "ALERT LED GPIO active-low"

      default n   if IDF_TARGET="esp8266"
      default y   if IDF_TARGET="esp32"


  choice STATUS_LEDS_CONFIG
    prompt "CONFIG button mode"
    default STATUS_LEDS_CONFIG_DISABLED

    config STATUS_LEDS_CONFIG_DISABLED
      bool "Disabled"

    config STATUS_LEDS_CONFIG_MODE
      bool "CONFIG button"

  endchoice

  config STATUS_LEDS_CONFIG_ENABLED
      bool

      default n if STATUS_LEDS_CONFIG_DISABLED
      default y if STATUS_LEDS_CONFIG_MODE

  config STATUS_LEDS_CONFIG_GPIO_NUM
      depends on STATUS_LEDS_CONFIG_ENABLED
      int "CONFIG Button GPIO pin"

  config STATUS_LEDS_CONFIG_GPIO_INVERTED
      depends on STATUS_LEDS_CONFIG_ENABLED
      bool "CONFIG Button GPIO active-low"


  choice STATUS_LEDS_TEST
    prompt "TEST button mode"
    default STATUS_LEDS_TEST_DISABLED

    config STATUS_LEDS_TEST_DISABLED
      bool "Disabled"

    config STATUS_LEDS_TEST_MODE
      bool "TEST button"

  endchoice

  config STATUS_LEDS_TEST_ENABLED
      bool

      default n if STATUS_LEDS_TEST_DISABLED
      default y if STATUS_LEDS_TEST_MODE

  config STATUS_LEDS_TEST_GPIO_NUM
      depends on STATUS_LEDS_TEST_ENABLED
      int "TEST Button GPIO pin"

  config STATUS_LEDS_TEST_GPIO_INVERTED
      depends on STATUS_LEDS_TEST_ENABLED
      bool "TEST Button GPIO active-low"

endmenu

menu "qmsk-artnet"
  config ARTNET_ENABLED
      bool "Enable artnet protocol by default"
endmenu

menu "qmsk-esp-eth"
  choice ETH_BOARD
    prompt "Ethernet board type"
    default ETH_BOARD_NONE

    config ETH_BOARD_NONE
      bool "None"

    config ETH_BOARD_WT32_ETH01
      bool "WT32-ETH01"
      select ETH_ENABLED
      select ETH_USE_ESP32_EMAC

    config ETH_BOARD_QMSK_ESP32_LAN87XX
      bool "QMSK-ESP32-LAN87XX"
      select ETH_ENABLED
      select ETH_USE_ESP32_EMAC

  endchoice

  choice ETH_MODE_DEFAULT
      optional
      prompt "Ethernet mode default"
      default ETH_MODE_DEFAULT_DHCP_SERVER

      config ETH_MODE_DEFAULT_STATIC
        bool "Static IPv4"

      config ETH_MODE_DEFAULT_AUTOCONF
        bool "IPv4 autoconf"

      config ETH_MODE_DEFAULT_DHCP_CLIENT
        bool "DHCP Client"

      config ETH_MODE_DEFAULT_DHCP_SERVER
        bool "DHCP Server"

  endchoice

  config ETH_IP_DEFAULT
      string "IPv4 address"
      default "192.168.5.1"

  config ETH_NETMASK_DEFAULT
      string "IPv4 netmask"
      default "255.255.255.0"

  config ETH_GW_DEFAULT
      string "IPv4 gateway"
      default "0.0.0.0"

  config ETH_MAC_MDC_GPIO_NUM
      depends on ETH_ENABLED
      int

      default 23  if ETH_BOARD_WT32_ETH01
      default 23  if ETH_BOARD_QMSK_ESP32_LAN87XX
      default 23

  config ETH_MAC_MDIO_GPIO_NUM
      depends on ETH_ENABLED
      int

      default 18  if ETH_BOARD_WT32_ETH01
      default 18  if ETH_BOARD_QMSK_ESP32_LAN87XX
      default 18

  config ETH_PHY_LAN87XX
      depends on ETH_ENABLED
      bool

      default y if ETH_BOARD_WT32_ETH01
      default y if ETH_BOARD_QMSK_ESP32_LAN87XX
      default n

  config ETH_PHY_ADDR
      depends on ETH_ENABLED
      int

      default  1  if ETH_BOARD_WT32_ETH01
      default  1  if ETH_BOARD_QMSK_ESP32_LAN87XX
      default -1

  config ETH_PHY_RESET_GPIO_NUM
      depends on ETH_ENABLED
      int

      default  16 if ETH_BOARD_WT32_ETH01
      default -1
endmenu

menu "qmsk-esp-i2c"
  config I2C_MASTER_ENABLED
    prompt "Use I2C bus for IO peripherals"
    bool

  config I2C_MASTER_SDA_IO_NUM
    depends on I2C_MASTER_ENABLED
    int
    prompt "IO pin for I2C SDA"

    default 15 if IDF_TARGET="esp32"

  config I2C_MASTER_SCL_IO_NUM
    depends on I2C_MASTER_ENABLED
    int
    prompt "IO pin for I2C SCL"

    default 2 if IDF_TARGET="esp32"

  config I2C_MASTER_INTERNAL_PULLUP_ENABLED
    depends on I2C_MASTER_ENABLED
    bool
    prompt "Enable internal pull-up"

    default false

  config I2C_MASTER_CLK_SPEED
    depends on I2C_MASTER_ENABLED
    int
    prompt "Clock frequency"

    default 400000

  config I2C_GPIO_ENABLED
    select I2C_MASTER_ENABLED
    prompt "Use I2C GPIO expanders"
    bool

  choice I2C_GPIO_TYPE
    depends on I2C_GPIO_ENABLED
    prompt "Primary I2C GPIO type"

    config I2C_GPIO_TYPE_NONE
      bool "No external I2C GPIO expander"

    config I2C_GPIO_TYPE_PCA9534
      depends on I2C_GPIO_ENABLED
      bool "External I2C PCA9534 GPIO expander"

    config I2C_GPIO_TYPE_PCA9554
      depends on I2C_GPIO_ENABLED
      bool "External I2C PCA9554 GPIO expander"

  endchoice

  config I2C_GPIO_ADDR_PCA9534
    depends on I2C_GPIO_TYPE_PCA9534
    int "Configurable I2C address bits (0-16)"
    range 0 15
    default 0

  config I2C_GPIO_ADDR_PCA9554
    depends on I2C_GPIO_TYPE_PCA9554
    int "Configurable I2C address bits (0-16)"
    range 0 15
    default 0

  config I2C_GPIO_INT_PIN
    depends on I2C_GPIO_TYPE_PCA9534 || I2C_GPIO_TYPE_PCA9554
    int "HOST GPIO pin for I2C bus interrupt, 0 to disable"
    range 0 39
    default 0

endmenu

menu "qmsk-esp-sdcard"
  choice SDCARD_HOST
    prompt "SD Card host type"

    config SDCARD_HOST_NONE
      bool "Disabled"

    config SDCARD_SPI_HOST
      bool "SD Card SPI Host"
      select SDCARD_ENABLED

  endchoice

  config SDCARD_SPI_MOSI_PIN
    depends on SDCARD_SPI_HOST
    int "HOST IO pin for SDSPI CMD/MOSI"
    range 0 39
    default 15

  config SDCARD_SPI_MISO_PIN
    depends on SDCARD_SPI_HOST
    int "HOST IO pin for SDSPI D0/MSIO"
    range 0 39
    default 2

  config SDCARD_SPI_SCLK_PIN
    depends on SDCARD_SPI_HOST
    int "HOST IO pin for SDSPI CLK/SCLK"
    range 0 39
    default 14

  config SDCARD_SPI_CS_PIN
    depends on SDCARD_SPI_HOST
    int "HOST IO pin for SDSPI D3/CS"
    range 0 39
    default 13

  choice SDCARD_SPI_CD
    prompt "SD Card Detect"
    optional

    config SDCARD_SPI_CD_HOST
      bool "SD Card Detect Host GPIO"

  endchoice

  choice SDCARD_SPI_CD_POL
    depends on SDCARD_SPI_CD_HOST
    prompt "SD Card Detect"
    optional

    config SDCARD_SPI_CD_POL_NO
      bool "normally-open signal to GND for SPI CD"

    config SDCARD_SPI_CD_POL_NC
      bool "normally-closed signal to GND for SPI CD"

  endchoice

  config SDCARD_SPI_CD_PIN
    depends on SDCARD_SPI_CD_HOST
    int "HOST IO pin for SPI CD"
    range 0 39

  config SDCARD_SPI_MAX_FREQ_KHZ
    depends on SDCARD_SPI_HOST
    int "Maximum SPI bus clock"
    range 10000 40000
    default 20000

  config SDCARD_ENABLED
    bool "SD Card support"

endmenu
