@media (orientation: landscape) {
  form fieldset {
    margin: 1em;

    grid-template-columns: 1fr 3fr 1fr;
  }
}

@media (orientation: portrait) {
  form fieldset {
    margin: 0.5em;

    grid-template-columns: 1fr 3.5fr;
  }
}

/* fieldsets */
form fieldset {
  display: grid;

  border: 1px solid #bbb;

  grid-gap: 1em;
}

form fieldset.actions {
  border: none;
}

form fieldset legend {
  margin: 0.5em 0em;
  padding: 0.5em;

  background-color: #888;
  color: #111;
  font-size: 2em;
  font-weight: bold;
}

form fieldset div.module-description {
  grid-column: 1 / 4;

  margin: 0em 1em;
}

/* TODO: stretch background, vertically align content? */
form fieldset label {
  grid-column: 1 / 2;
}

form fieldset div.module-description {
  grid-column: 1 / 3;
}

form fieldset progress.input {
  grid-column: 3 / 4;
  width: 100%;
}

form fieldset progress.form {
  grid-column: 2 / 3;
}

form fieldset button {
  grid-column: 3;
}

/* general styles */
form fieldset p {
  font-style: italic;
  font-size: small;
}

form fieldset label {
  margin-left: 1em;
  padding: 0.5em;

  height: 1.2em;

  background-color: #444;
  color: #ccc;
}

form fieldset input, form fieldset select {
  width: 100%;
  height: 1.8em;
}

form fieldset input:invalid {
  box-shadow: 0 0 5px 1px red;
}

form fieldset input[type="checkbox"] {
  width: 2em;
}

form fieldset input[type="file"] {
  margin: auto 0;
}

/* Button styling */
form fieldset button {
  padding: 0.5em 1em;

  background-color: #133337;
  color: #ccc;

  border: 0.25px solid #444;
  border-radius: 0.25em;

  font-size: 2em;
  font-weight: bold;
}

form fieldset button:hover {
  border: 0.25px solid #eee;
}

form fieldset button:active {
  transform: scale(0.99);
}

form fieldset button:disabled {
  background-color: #888;
}
form fieldset button:disabled:hover {
  border: 0.25px solid #000;
}
