@media (orientation: landscape) {
  fieldset {
    margin: 1em;

    grid-template-columns: 1fr 3fr 1fr;
  }
}

@media (orientation: portrait) {
  fieldset {
    margin: 0.5em;

    grid-template-columns: 1fr 3.5fr 0.5fr;
  }

  fieldset div.errors {
    grid-column: 1 / 3 !important;
  }
  
}

/* fieldsets */
fieldset {
  display: grid;

  border: 1px solid #bbb;

  grid-gap: 1em;
}

fieldset.actions {
  border: none;
}

fieldset legend {
  margin: 0.5em 0em;
  padding: 0.5em;

  background-color: #888;
  color: #111;
  font-size: 2em;
  font-weight: bold;
}

/* TODO: stretch background, vertically align content? */
fieldset label {
  grid-column: 1 / 2;
}

fieldset div.module-description {
  grid-column: 1 / 3;

  margin: 0em 1em;
}

fieldset progress.input {
  grid-column: 3 / 4;
  width: 100%;
}

fieldset progress.form {
  grid-column: 2 / 3;
}

fieldset button {
  grid-column: 3;
}

fieldset div.errors {
  grid-column: 2 / 3;
}

/* general styles */
fieldset p {
  font-style: italic;
  font-size: small;
}

fieldset label {
  margin-left: 1em;
  padding: 0.5em;

  height: 1.2em;

  background-color: #444;
  color: #ccc;
}

fieldset input, form fieldset select {
  width: 100%;
  height: 1.8em;
}

fieldset input:invalid {
  box-shadow: 0 0 5px 1px red;
}

fieldset input[type="checkbox"] {
  width: 2em;
}

fieldset input[type="file"] {
  margin: auto 0;
}

fieldset div.errors {
  padding: 0.5em;
  
  background-color: #ff000080;
  box-shadow: 0 0 5px 1px red;
}

/* Button styling */
fieldset button {
  padding: 0.5em 1em;

  background-color: #133337;
  color: #ccc;

  border: 0.25px solid #444;
  border-radius: 0.25em;

  font-size: 2em;
  font-weight: bold;
}

fieldset button:hover {
  border: 0.25px solid #eee;
}

fieldset button:active {
  transform: scale(0.99);
}

fieldset button:disabled {
  background-color: #888;
}
fieldset button:disabled:hover {
  border: 0.25px solid #000;
}

fieldset div.symbol {
  grid-column: 3 / 4;

  padding: 0.5em;
  width: 2em;

  font-size: 2em;
  text-align: center;
}

fieldset div.symbol.error {
  background: #ff000080;
  border-radius: 0.5em;
}
