html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #aaa;
  color: #111;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #111;
}

h1 {
  background-color: #aaa;
  color: #111;

  margin: 0;
  padding: 0.25em;
}

h2 {
  background-color: #888;
  color: #111;

  margin: 0;
  padding: 0.25em;
}

h3 {
  background-color: #133337;
  color: #ccc;

  margin: 0;
  padding: 0.25em;
}

h1 span.state,
h2 span.state,
h3 span.state {
  font-weight: lighter;
  font-style: italic;
}

/* Structure */
.app {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0;

  font-size: 2em;
  background-color: #133337;
  color: #ccc;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #ccc;
}

main {
  flex: 1;
}

footer {
  padding: 0.25em;

  background-color: #111;
  color: #44ff44;
}

/* Header */
header .icon {
  font-size: 2em;
  margin-right: 0.2em;
}

/* Navigation */
nav a {
  display: inline-block;
  padding: 0.5em;

  text-decoration: none;
}

nav a.active {
  background-color: #aaa;
  color: #133337;

  border-radius: 0.25em 0.25em 0em 0em;
}

/* View */
main.centered {
  padding: 1em 20%;
}

main.split {
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

main.split .view {
  flex: 2;


  padding: 1em;
}

main.split .controls {
  flex: 1;
  align-self: stretch;
}

/* Progress */
main progress {
  display: block;
  width: 50%;
  margin: 1em auto;
}

/* Controls */
.controls {
  background-color: #444;
  color: #ccc;

  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.controls fieldset {
  margin: 0;

  border: none;
}

.controls fieldset label {
  grid-column: 1 / 2;

  font-weight: bold;
}

.controls fieldset button {
  grid-column: 2 / 3;
}

/* Components */
dl {
  display: grid;

  margin: 0em;
  margin-bottom: 1em;
  padding: 1em;

  border: 1px solid #bbb;

  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
}

dl dt {
  grid-column: 1 / 2;

  margin-left: 0;
  padding: 0.5em;

  background-color: #444;
  color: #ccc;
}

dl dd {
  grid-column: 2 / 3;

  margin: 0;
  padding: 0.5em;

  background-color: #ccc;
  color: #111;
}

dl dd meter {
  width: 100%;
}

/* Tables */
table {
  width: 100%;

  margin: 0em;
  margin-bottom: 1em;

  border-collapse: collapse;
}

table caption {
  background-color: #888;
  color: #111;

  text-align: left;
  font-size: 24px;
  font-weight: bold;

  margin: 0;
  padding: 0.25em;
}

table caption button {
  float: right;
}

table th {
  padding: 0.25em;

  background-color: #444;
  color: #ccc;
}

table td {
  padding: 0.25em;

  background-color: #ccc;
  color: #111;
  border: 1px solid #aaa;
}

table td.ptr {
  font-family: monospace;
}

table td.size {
  text-align: right;
}

 /* Spinner */
 .spin {
   display: inline-block;

   width: 1em;
   height: 1em;

   text-align: center;
}

.spin.active {
   animation-name: spin;
   animation-duration: 5000ms;
   animation-iteration-count: infinite;;
   animation-timing-function: linear;
 }

 @keyframes spin {
   from {
     transform:rotate(0turn);
   }
   to {
     transform:rotate(1turn);
   }
 }
