# Usage:
#   $ BUILD_UID=$(id -u) BUILD_GID=$(id -g) docker-compose build sdk
#   $ docker-compose run --rm build
#   $ ESPPORT=/dev/ttyUSB0 docker-compose run --rm monitor
version: '3.8'
services:
  sdk:
    image: qmsk/esp-idf:dev
    build:
      context: ../../sdk/esp-idf
      args:
        ESP_IDF_VERSION: v4.4.4
        BUILD_UID: ${BUILD_UID}
        BUILD_GID: ${BUILD_GID}
    command: idf.py --version

  build:
    image: qmsk/esp-idf:dev
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp32
    command: idf.py build
    init: true
    environment:
      BOARDCONFIG: "${BOARDCONFIG}"

  flash:
    image: qmsk/esp-idf:dev
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp32
    command: idf.py flash
    init: true
    devices:
      - "${ESPPORT}"
    environment:
      ESPPORT: "${ESPPORT}"

  monitor:
    image: qmsk/esp-idf:dev
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp32
    command: idf.py monitor
    init: true
    devices:
      - "${ESPPORT}"
    environment:
      ESPPORT: "${ESPPORT}"
      BOARDCONFIG: "${BOARDCONFIG}"
