# Use flash 80Mhz qio mode
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Use custom stdio VFS
CONFIG_VFS_USE_STDIO=y

# Reduce stack usage for logging
CONFIG_NEWLIB_NANO_FORMAT=y

# Use custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Use FreeRTOS task stats
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y

# Configure WiFi at boot
CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n

CONFIG_ESP32_WIFI_NVS_ENABLED=n

# Run TCP/IP stack on cpu0
CONFIG_ESP_MAIN_TASK_AFFINITY_CPU0=y
CONFIG_ESP_MAIN_TASK_AFFINITY=0x0

# Optimize memory usage
CONFIG_MDNS_TASK_STACK_SIZE=2048

# Do not enable ETH by default
CONFIG_ETH_ENABLED=n
CONFIG_ETH_USE_ESP32_EMAC=n
CONFIG_ETH_USE_SPI_ETHERNET=n
CONFIG_ETH_USE_OPENETH=n

## Art-Net
CONFIG_ARTNET_OUTPUTS_MAX=16

# Tune ethernet -> lwip receive stack to handle UDP bursts for 16 artnet universes
CONFIG_ETH_DMA_BUFFER_SIZE=1600
CONFIG_ETH_DMA_RX_BUFFER_NUM=20
CONFIG_ETH_DMA_TX_BUFFER_NUM=10

# critically important for handling UDP bursts
# the default =6 causes the majority of packets to be dropped for artnet universes >6
CONFIG_LWIP_UDP_RECVMBOX_SIZE=20
