# USAGE:
#
#   docker-compose build sdk
#   USER_ID=$UID docker-compose up build
#   ESPPORT=/dev/ttyUSB? docker-compose up flash
#   ESPPORT=/dev/ttyUSB? docker-compose run --rm monitor
#   ESPPORT=/dev/ttyUSB? docker-compose up config-reset
#
# @see https://docs.espressif.com/projects/esp8266-rtos-sdk/en/latest/get-started/index.html#environment-variables
version: '3.8'
services:
  sdk:
    image: qmsk/esp8266-rtos-sdk
    build:
      context: ../../sdk/esp8266-rtos-sdk
      args:
        ESP8266_RTOS_SDK_VERSION: v3.4

  build:
    image: qmsk/esp8266-rtos-sdk
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp8266
    user: "${USER_ID:-1000}"
    command: make
    init: true
    environment:
      SDKCONFIG: sdkconfig@${BOARDCONFIG:-qmsk-esp}
      SDKCONFIG_DEFAULTS: sdkconfig.defaults /build/boardconfig/${BOARDCONFIG:-qmsk-esp}

  flash:
    image: qmsk/esp8266-rtos-sdk
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp8266
    user: build
    command: make flash
    init: true
    devices:
      - "${ESPPORT}"
    environment:
      SDKCONFIG: sdkconfig@${BOARDCONFIG:-qmsk-esp}
      ESPPORT: "${ESPPORT}"

  config-reset:
    image: qmsk/esp8266-rtos-sdk
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp8266
    user: build
    command: make config-reset
    init: true
    devices:
      - "${ESPPORT}"
    environment:
      SDKCONFIG: sdkconfig@${BOARDCONFIG:-qmsk-esp}
      ESPPORT: "${ESPPORT}"

  monitor:
    image: qmsk/esp8266-rtos-sdk
    volumes:
      - ../..:/build
    working_dir: /build/projects/esp8266
    user: build
    command: make monitor MONITOR_OPTS="--baud $${MONITORBAUD} --port $${ESPPORT} --eol CRLF"
    init: true
    devices:
      - "${ESPPORT}"
    environment:
      SDKCONFIG: sdkconfig@${BOARDCONFIG:-qmsk-esp}
      ESPPORT: "${ESPPORT}"
      MONITORBAUD: "${MONITORBAUD:-115200}"
